embeddedRefs
build
AutoTest.Net
*.mm.exe
*.mm.dll
*mm_cache.bin
test-results.xml
test-results
__pycache__
*.pyc
*.suo
Debug*
Release*
*ReSharper*
*user
*.ncb
*_cache
_Upgrade*
console.log
debug.log
ipch
obj2008
*.obj
*.pdb
*.idb
.svn
*.aps
*.ilk
*.opensdf
*.sdf
*.user